
@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $font-path: '~element-plus/dist/fonts',
    $colors: (
        // "primary": (
        // "base": #41b584,
        // ),
        'white': #ffffff,
        'black': #000000,
        'primary': (
            'base': #1890ff,
        ),
        'success': (
            'base': #13ce66,
        ),
        'warning': (
            'base': #ffba00,
        ),
        'danger': (
            'base': #ff4d4f,
        ),
        'error': (
        '   base': #ff4d4f,
        ),
        'info': (
            'base': #909399,
        ),
    ),
);



@use "~element-plus/theme-chalk/src/index";


// 需要定义那些主题颜色？
// --myTextColorInPrimaryColor : 主题颜色里的字体颜色
// --myTextColorInBackgroundColor :主题背景颜色里的字体颜色
// --myThemeBackgroundColor: 主题背景颜色

:root{
    --myTextColorInPrimaryColor: #fff; // 主题颜色里的字体颜色
    --myTextColorInBackgroundColor: #fff;// 背景色中的文字color

    --myThemeBackgroundColor: #282c34; // 通用背景色

    --el-color-primary-light-1: #2f9bff;
    --el-color-primary-light-2: #46a6ff;
    --el-color-primary-light-3: #5db1ff;
    --el-color-primary-light-4: #74bcff;
    --el-color-primary-light-5: #8cc8ff;
    --el-color-primary-light-6: #a3d3ff;
    --el-color-primary-light-7: #badeff;
    --el-color-primary-light-8: #d1e9ff;
    --el-color-primary-light-9: #e8f4ff;
    
}




